#Outer {
	width:1428px;
	height:1450px;
	margin-left:-8px;
	margin-top:-8px;
	margin-bottom:-8px;
	background-color:#80002a;
}
.img2 {
	width:300px;
	height:200px;
	margin-left:50px;
}
.img1 {
	height:75px;
	margin-left:200px;
	margin-bottom:80px;
}
.img3 {
	float:right;
	margin-top:-15px;
	}
p.top {
	color:white;
	font-family:verdana;
}
#head {
	width:1348px;
	height:200px;
	margin-bottom:-200px;
	}
#body {
	width:1000px;
	height:800px;
	border-radius:10px;
	background-color:grey;
}
#bodynav {
	width:1000px;
	height:50px;
	border-radius:px;
	box-shadow: 0 0 10px 0 #cc0044;
	background-color:#660022;
}
#bodynav1 {
	width:180px;
	height:50px;
	float:left;
	border-right : black 1px solid; 
}
#bodynav2 {
	width:200px;
	height:50px;
	float:left;
	border-right: black 1px solid;
}
#bodynav3 {
	width:236px;
	height:50px;
	float:left;
	border-right: black 1px solid;
}
#bodynav4 {
	width:200px;
	height:50px;
	float:left;
	border-right: black 1px solid;
}
#bodynav5 {
	width:180px;
	height:50px;
	float:left;
}
#bodyouter {
	width:1000px;
	height:750px;
	margin-top:3px;
	border-radius:5px;
	background-color:#eedde3;
}
#bodycontent {
	width:700px;
	height:700px;
	float:left;
	display:block;
	border:black 1px solid;
	margin-left:10px;
	margin-top:30px;
}
p.heading {
	margin-top:0;
	font-family:verdana;
	font-size:45px;
}
p.sub-heading{
	color:green;
	font-family:verdana;
	font-size:30px;
	margin-top:-30px;
}
ul.sub-heading {
	margin-left:-30px;
	margin-top:150px;
	font-size:25px;
	font-family:verdana;
	list-style-type:none;
	}
ul.sub-heading li {
	margin-top:20px;
}
ul.sub-heading li:hover a{
	color:black;
}
ul.sbuslist{
	float:left;
}
ul.sbuslist li {
	list-style-type:none;
	margin-top:15px;
	margin-left:40px;
	margin-right:60px;
	}
ul.sbuslist li a{
	font-family:verdana;
	font-size:14px;
	color:green;
}
ul.sbuslist li:hover a{
	color:black;
}
a.sub {
	color:green;
}
p.next {
	font-family:verdana;
	margin-top:480px;
	margin-left:500px;
}
p.back {
	font-family:verdana;
	margin-top:-35px;
	margin-left:-480px;
}
#updates {
	width:250px;
	height:450px;
	border-left-style:solid;
	border-left-width:1px;
	float:right;
	background-color:#ffccdd;
	margin-top:150px;
}
ul.updatel {
	font-family:verdana;
}
p.updatef {
	font-family:verdana;
	font-size:22px;
}
#footer {
	width:1348px;
	height:200px;
	margin-top:100px;
	background-color:#660022;
}
#footer1 {
	width:430px;
	height:200px;
	float:left;
}
#footer11{
	width:410px;
	height:145px;
	margin-top:15px;
	padding:20px;
	border-right: white 1px solid;
}
#footer2 {
	width:430px;
	height:200px;
	margin-top:10px;
	float:left;
}

ul.list1{
	list-style-type:none;
}
ul.list1 li a:hover {
	color:grey;
}
#footer3 {
	width:430px;
	height:200px;
	margin-top:75px;
	float:left;
}
#bodynav1:hover , #bodynav2:hover , #bodynav3:hover, #bodynav4:hover, #bodynav5:hover {
	background-color:#990033;
	border-bottom : #ff3377 solid;
} 
a {
	text-decoration:none;
	color:white;
}
ul.dropdown2 , ul.dropdown3 , ul.dropdown4 {
	display:inline-block;
	margin-left: 0;
	padding:0;
}
ul.dropdown2 li , ul.dropdown3 li , ul.dropdown4 li {
	display:inline-block;
}
ul.dropdown2 li:hover ul.drop2 , ul.dropdown3 li:hover ul.drop3 , ul.dropdown4 li:hover ul.drop4 {
	display:block;
	}
ul.dropdown2 li ul.drop2 {
	position: absolute;
	display:none;
	z-index:2;
	width:200px;
	margin-left:-87px;
}
ul.dropdown3 li ul.drop3 {
	position: absolute;
	display:none;
	z-index:2;
	width:236px;
	margin-left:-68px;
}
ul.dropdown4 li ul.drop4 {
	position: absolute;
	display:none;
	z-index:2;
	width:200px;
	margin-left:-95px;
}
ul.dropdown2 li ul.drop2 li , ul.dropdown3 li ul.drop3 li , ul.dropdown4 li ul.drop4 li {
	background-color:#660022;
	display:block;
	height:50px;
}
ul.dropdown2 li ul.drop2 li:hover , ul.dropdown3 li ul.drop3 li:hover , ul.dropdown4 li ul.drop4 li:hover {
	background-color:#990033;
	border-bottom : #ff3377 solid;
}
#District1 , #District2 , #District3 {
	width:150px;
	height:150px;
	position:relative;
	margin-left:-270px;
	margin-top:30px;
	border: black 1px solid;
	opacity:0.5;
	}

#District4  {
	width:150px;
	height:150px;
	position:relative;
	margin-left:300px;
	margin-top:-517px;
	border: black 1px solid;
	opacity:0.5;
}
#District5  , #district6 {
	width:150px;
	height:150px;
	position:relative;
	margin-left:300px;
	margin-top:30px;
	border: black 1px solid;
	opacity:0.5;
}
	}
h2 span {
	color: black; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}
h2 {
	position:absolute;
	font-family:verdana;
	top: 35px; 
   left: 0; 
   width: 100%;
}
#district1:hover, #district2:hover, #district3:hover, #district4:hover, #district5:hover, #district6:hover{
	opacity:1;
}
p.district {
	font-family:verdana;
	margin-top:70px;
	margin-left:-100px;
}
p.area {
	font-family:verdana;
	margin-left:-27px;
}
p.driver {
	margin-left:-210px;
	font-family:verdana;
}
p.pick-up {
	margin-left:-241px;
	font-family:verdana;
}
ul.routes {
	text-align:left;
	margin-left:280px;
	margin-top:-35px;
	font-family:verdana;
	list-style-type:none;
}
p.seats {
	margin-left:-230px;
	font-family:verdana;
}
a.students {
	color:blue;
}
p.students {
	margin-top:50px;
	margin-left:-150px;
}
p.login {
	font-family:verdana;
	margin-top:50px;
}
input[type=text] {
	width:280px;
	height:50px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
	background-color: white;
    background-image: url('Pics/username.ico');
    background-position: 7px 7px;
    background-repeat: no-repeat;
    padding-left: 50px;
}
input[type=password] {
	width:280px;
	height:50px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
	background-color: white;
    background-image: url('Pics/Password.ico');
    background-position: 7px 7px;
    background-repeat: no-repeat;
    padding-left: 50px;
}
input[type=button]{
    background-image:url('Pics/loginn2.png');
    border: none;
	width:100px;
	height:33px;
	margin-top:10px;
	margin-left:-170px;
    text-decoration: none;
    cursor: pointer;
}
input[type=textsearch] {
	width:280px;
	height:40px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
	background-color: white;
    background-image: url('Pics/search.ico');
    background-position: 7px 7px;
    background-repeat: no-repeat;
    padding-left: 50px;
	margin-top: 50px;
}
input[name=search]{
    background-color:black;
	border-radius:5px;
	color:white;
	text-align:center;
	font-size:16px;
	font-family:verdana;
    border: none;
	width:100px;
	height:33px;
	margin-top:10px;
	margin-left:-25px;
    text-decoration: none;
    cursor: pointer;
}
#printoutput {
	width:300px;
	height:150px;
	margin-left:100px;
	margin-top:50px;
	text-align:left;
}
#printoutput a{
	color:Green;
}
#printoutput a:hover{
	color:Blue;
}
select[type=textsearch] {
	width:280px;
	height:40px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
	background-color: white;
    background-image: url('Pics/search.ico');
    background-position: 7px 7px;
    background-repeat: no-repeat;
    padding-left: 50px;
	margin-top: 50px;
}
ul.updatesmain {
	font-family:verdana;
	color:black;
	float:left;
	text-align:left;
	margin-left:50px;
	margin-top:50px;
}